{% extends 'base.html' %}
{% block content %}
<div class="container my-4 pb-5">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'edit_topic' topic.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Edit topic</legend>
        </fieldset>
        {% for field in form %}
        {% if field.errors %}
        {% for error in field.errors %}
        <p class="text-danger fw-bold">{{ error }}</p>
        {% endfor %}
        {% endif %}
        {% endfor %}
        <div class="form-floating mb-3">
            {{ form.title }}
            <label for="{{form.title.id_for_label}}">Title:</label>
        </div>
        <div class="form-floating">
            {{ form.content }}
            <label for="{{ form.content.id_for_label }}">Content:</label>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-color-main btn-lg me-4">Confirm Edition</button>
            <a href="{% url 'topic' topic.id %}" class="btn btn-lg btn-outline-color-main">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
{% block 'scripts' %}
<script>
    document.addEventListener('DOMContentLoaded', ()=> {
        document.getElementById('id_title').classList.add('form-control')
        document.getElementById('id_content').classList.add('form-control')
        document.getElementById('id_content').style.height='350px'
    })
    
</script>
{% endblock 'scripts' %}